.light {
	.home-container {
		color: var(--content-text-color);
	}

	.recent-files-list {
		> div:first-child {
			opacity: 0.75;
		}
	}

	.tooltip-box {
		border: 1px solid color-mix(in srgb, var(--divider-color) 35%, transparent);
	}
}

