.print-layout {
  width: 100%;
}

/* Header */
.print-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* Footer */
.print-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

/* Contenu principal */
.print-content {
  margin: 120px 20px 80px; /* Laisse de la place pour le header et le footer */
}

/* Gestion de l'impression */
@media print {
  body {
    margin: 0;
  }

  .print-header {
    position: fixed;
    top: 0;
  }

  .print-footer {
    position: fixed;
    bottom: 0;
  }

  .print-content {
    margin-top: 120px; /* Place sous le header */
    margin-bottom: 80px; /* Place au-dessus du footer */
  }

  .page-break {
    page-break-before: always;
  }

    @page {
    size: auto; /* Laisse le navigateur décider de la taille */
    margin: 0; /* Réduit les marges au minimum */
  }

  body * {
    visibility: hidden; /* Cache tout sauf la div ciblée */
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: #000;
  }

  #content, #content * {
    visibility: visible; /* Montre uniquement la div ciblée */
  }

  #content {
    top: 0;
    left: 0;
    width: 98vw; /* Adapte la largeur au viewport */
    height: 100vh; /* Adapte la hauteur au viewport */
    transform-origin: top left;
  }
  
  table, form, div {
    page-break-inside: avoid;
  }
}